/*INFO FORM*/
.infoFormWrapper{
    display: grid;
    place-content: center;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.322);
    visibility: visible;
    opacity: 1;
    transition: all .2s;
    z-index: 3;
}
.closeInfoFormWrapper{
    opacity: 0;
    visibility: hidden;
}


.infoFormWrapper .infoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 35px 25px;
    border-radius: 5px;
    border: 1px solid #ffffff1f;
    background-color: rgba(0, 0, 0, 0.534);
    color: var(--color-lightFont);
}

.infoFormWrapper .InfoTitleForm{
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

/* infoForm.css */

.infoFormWrapper .infoInp {
    width: 250px;
    padding: 5px 7px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #ffffff60;
    background-color: transparent;
    color: #fff;
    transition: all .2s;
}

.infoFormWrapper .infoInp:focus,
.infoFormWrapper .infoInp:hover {
    outline: none;
    color: var(--color-primary);
    border-color: var(--color-primary);
}
.infoFormWrapper .infoInp::placeholder {
    color: var(--color-lightFont);
}


.css-qbdosj-Input {
    visibility: unset !important;
}
.css-1xc3v61-indicatorContainer{
    padding-right: 1px !important;
}
.css-1u9des2-indicatorSeparator {
    display: none !important;
}
.css-1fdsijx-ValueContainer {
    padding: 2px 0 !important;
}
.css-1nmdiq5-menu{
    background-color: #121212 !important;
}

.infoFormWrapper .infoLabels {
    position: absolute;
    top: 0;
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

.infoFormWrapper .infoFormBtn{
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s;
}
.infoFormWrapper .infoFormBtn:hover{
    background-color: var(--color-primary);
    color: #fff;
}
.infoFormWrapper .infoFormBtn:active{
    filter: brightness(50%);
}


