.MediaWebNav{
    display: none;
}
.WebNav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3000;
    padding: 14px 14px 0px 14px;
    background-color: transparent;
}

.WebNavContainer{
    padding-inline: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-shadow: 0px 1px 5px 0px #0000004d;
    backdrop-filter: blur(20px);
    border: 1px solid #a497e041;
    border-radius: 5px;
}


.WebNav .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #fff;
}
.logoWrapper:hover{
    text-shadow: 0 0 20px #fff;
    color: #fff !important;
}
.WebNav .logoImg{
    width: 35px;
}

.WebNav a {
    color: var(--color-navLinks);
}
.WebNav a:hover {
    color: var(--color-primary);
}
.WebNav .pageLinks {
    position: relative;
    top: 3px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.WebNav li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: 500;
}
.WebNav .activeLiNav{
    color: var(--color-primary);
}
.WebNav li svg{
    font-size: 18px;
}

.WebNav .linkText{
    font-size: 13px;
}


.WebNav .profileLink{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileLink svg{
    font-size: 27px;
}