.Favourites .SectionWrapper {
  padding-top: 5px;
}
.Favourites  .favoriteCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 10px;
}
.Favourites  .NoCard{
  display: grid;
  place-content: center;
  flex: 1 19%;
  width: 300px;
  min-width: 200px;
  height: 200px;
  background-color: var(--color-body);
  color: #ffffff33;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: default;
}
.Favourites  .noCardLast{
  font-size: 25px;
  cursor: pointer;
}
.Favourites  .noCardLast:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
    filter: brightness(105%);
    color: #fff;
}

@media screen and (max-width:992px) {
  .favoriteCards{
      justify-content: center;
      align-items: center;
  }
}

.favoriteCards:hover .CategoryCard:not(:hover){
  filter: blur(3px);
}
@media screen and (max-width:768px) {
  .favoriteCards:hover .CategoryCard:not(:hover){
      filter: blur(0);
  }
}
/* .Favourites .CategoryCard{
  width: fit-content ;
} */
@media screen and (max-width:992px) {
  .Favourites .CategoryCard{
    /* max-width: unset; */
  }
}
.Favourites .clearBtn{
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -25%);
  width: 110px;
  padding-block: 7px;
}
/*Full Screen*/
.ProfilePage .fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(5px);
  z-index: 99999; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfilePage .fullscreen img {
  max-width: 100%;
  max-height: 100%;
}

.ProfilePage .fullscreen button {
  position: absolute;
  top: 20px;
  right: 22px;
  padding: 0px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
/*Full Screen*/




