.loadingMoreRef{
    align-items: center;
}
.CategoryCard{
    position: relative;
    flex: 1 19%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-body);
    border: 1px solid var(--color-body);
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all .3s;
    overflow: hidden;
    cursor: default;
}
.CategoryCard:hover{
    transform: scale(1.01);
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 5px 0 var(--color-primary);
}
.CategoryCard:hover .cardBody p{
    color: #ffffffc4;
}
.CategoryCard:hover .cardBody .titleInfo{
    color: var(--color-primary);
}
.categoryCards:hover .CategoryCard:not(:hover){
    filter: blur(3px);
}

.CategoryCard .cardImgWrapper{
    width: 100%;
    /* height: 250px; */
    height: 100%;
    overflow: hidden;
    display: grid;
    place-content: center;
}
.CategoryCard .cardImgWrapper img{
    width: 300px;
    height: 200px;
    filter: brightness(50%);
    transition: all .3s;
}
.CategoryCard:hover .cardImgWrapper img{
    filter: brightness(90%);
    transform: scale(1.3) rotate(5deg);
}
.CategoryCard .cardName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    max-width: 100px;
    padding-inline: 10px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    transition: all .4s;
}
.CategoryCard:hover .cardName{
    visibility: hidden;
    opacity: 0;
}
.CategoryCard .moreBtn{
    width: 25px;
    height: 25px;
    display: grid;
    place-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: var(--color-primary);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
}
.CategoryCard:hover .moreBtn{
    visibility: visible;
    opacity: 1;
}
.CategoryCard .moreBtn:hover {
    background-color: #fff;
    color: var(--color-primary);
}
.CategoryCard .likeBtn {
    position: absolute;
    top: -1px;
    right: 11px;
    padding: 0;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: #333;
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
}
.CategoryCard:hover .likeBtn{
    visibility: visible;
    opacity: 1;
}
.CategoryCard:hover .likeBtn:hover{
    filter: drop-shadow(0px 0px 1px #ff0000);
}
.CategoryCard .likeBtnClicked {
    color: #ff0000;
}


.CategoryCard .cardBody p{
    height: 100px;
    padding-right: 10px;
    padding-block: 10px;
    margin-block: 10px;
    overflow: scroll;
    overflow-x: hidden;
    border-block: 1px solid var(--color-components);
    font-size: 14px;
    color: #ffffff79;
    transition: all .3s;
}
.CategoryCard .foodDetails{
    width: 100%;
    padding-block: 8px;
    position: absolute;
    /* bottom: -70px; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    transition: all .3s;
}
.CategoryCard:hover .foodDetails{
    bottom: 0px;
    transition-delay: .5s;
}
.CategoryCard .cardBody .detailItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CategoryCard .cardBody .miniTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 11px;
    font-weight: 500;
}
.CategoryCard .cardBody .titleInfo{
    position: relative;
    bottom: -70px;
    width: 50px;
    padding-block: 2px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    color: var(--color-primary)!important;
    /* backdrop-filter: blur(5px) ; */
    background-color: #1f1f2bcb;
    transition: all .3s;
}
.CategoryCard:hover .cardBody .titleInfo{
    bottom: 0px;
}
.CategoryCard:hover .cardBody .titleInfo:hover{
    background-color: #1f1f2b;
    transition: .1s;
}
.CategoryCard:hover .cardBody .T1{
    transition-delay: .1s;
}
.CategoryCard:hover .cardBody .T2{
    transition-delay: .2s;
}
.CategoryCard:hover .cardBody .T3{
    transition-delay: .3s;
}
.CategoryCard:hover .cardBody .T4{
    transition-delay: .4s;
}

@media screen and (max-width:1200px) {
    .CategoryCard{
        flex: 0 24%;
    }
}
@media screen and (max-width:992px) {
    .CategoryCard{
        flex: 0 32%;
    }
    
}
@media screen and (max-width:768px) {
    
    .CategoryCard{
        flex: 0 48%;
    }
    .CategoryCard:hover{
        transform: scale(1);
    }
    .categoryCards:hover .CategoryCard:not(:hover){
        filter: blur(0);
    }
}
@media screen and (max-width:500px) {
    
    .CategoryCard{
        flex: 100%;
    }
}
/* @media screen and (max-width:390px) {
    .CategoryCard{
        flex: 1 100%;
    }
} */