.profilePhotoWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--color-body);
    background-color: var(--color-body);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    z-index: 100; 
    overflow: hidden;
}


.profile-picture img{
    width: auto;
    height: auto;
    transition: all 0.3s ease-in-out;
}
.profile-picture img:hover{
    transform: scale(1.1);
    filter: brightness(110%);
}



.removePhoto{
    width: 35px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: calc(150px - 0px);
    right: 15px;
    border-radius: 50%;
    background-color: var(--color-primary);
    transition: all .2s;
    cursor: pointer;
    z-index: 500;
    color: #ffffff8e;
    border: none;
}


.profilePhotoWrapper:hover .openEditBox{
    opacity: 1;
    visibility: visible;
}
.openEditBox{
    width: 35px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 75%;
    left: 65%;
    z-index: 500;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--color-body);
    color: #ffffffa2;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.openEditBox:hover{
    color: var(--color-primary);
    border-color: #8b92ee42;
}
.openEditBox:active{
    background-color: var(--color-components);
}
.openEditBox svg{
    position: relative;
    left: 1px;
}