/* @media screen and (max-width: 992px) {
    .ServicesSec 
    .SectionWrapper::-webkit-scrollbar{
        width: 0;
        background-color: transparent;
    }
    
    .ServicesSec .partOneWrapper{
        max-width: 350px;
        padding-right: 7px;
        margin-right: 7px;
    }
    .ServicesSec .partOneWrapper .foodName{
        font-size: 15px;
    }
    .ServicesSec .partOneWrapper .foodDis{
        font-size: 13px;
        line-height: 1rem;
    }
    .ServicesSec .imgInfoWrapper{
        width: 150px;
        height: 111px;
        border: 5px solid var(--color-body);
    }
    .ServicesSec .mainImg{
        width: auto;
        height: 105px;
    }
    .ServicesSec .infoContainer {
        padding: 5px;
    }
    .ServicesSec .infoContainer .foodDetails{
        justify-content: space-between;
    }
    .ServicesSec .detailItem {
        width: 90px;
        gap: 0;
        row-gap: 5px;
        font-size: 15px;
        line-height: 1.2rem;
        margin-block: 5px;
    }
    .ServicesSec .detailItem .titleInfo{
        font-size: 12px;
    }
} */

@media screen and (max-width: 768px) {

    .ServicesSec .infoContainer{
        flex-direction: column;
        padding: 10px;
    }
    .ServicesSec .partOneWrapper{
        max-width: unset;
        margin-right: unset;
        padding-right: 0;
        gap: 3px;
        flex-direction: column;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-right: none;
        border-bottom: 1px solid #ffffff15;
    }
    .ServicesSec .imgInfoWrapper{
        width: 100%;
        height: 100%;
    }
    .ServicesSec .mainImg{
        width: 100%;
        height: auto;
    }
    .ServicesSec .partOneWrapper .textWrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .ServicesSec .partOneWrapper .foodDis{
        max-width: unset;
    }
}
