
.ServicesSec .infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 8px;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    background-color: var(--color-body);
}


.ServicesSec .partOneWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.ServicesSec .imgInfoWrapper{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--color-components);
    background-color: var(--color-components);
}
.ServicesSec .mainImg{
    width: auto;
    height: 145px;
}
.textContainer{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.ServicesSec .textWrapper{
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    padding-top: 10px;
}
.ServicesSec .foodName{
    font-weight: 500;
    font-size: 20px;
}
.ServicesSec .resultImage{
    width: 100%;
    height: auto;
}
.ServicesSec .foodDis{
    height: 125px;
    overflow-y: scroll;
    margin-block: 10px;
    border-block: 1px solid #ffffff25;
    padding-block: 10px;
    padding-right: 5px;
    font-size: 14px;
    color: #ffffffa2;
    font-weight: 300;
}
.ServicesSec .screenBtn{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border: 1px solid #ffffff5e;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    background-color: transparent;
    color: #fff;
    opacity: .7;
    transition: all .2s;
}
.ServicesSec .screenBtn:hover{
    color: var(--color-primary);
    border-color: var(--color-primary) ;
    opacity: 1;
}




/*start list*/
.ServicesSec .foodDetails{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ServicesSec .detailItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ServicesSec .detailItem .miniTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
.ServicesSec .detailItem .titleInfo{
    font-weight: 300;
    font-size: 14px;
    color: var(--color-primary);
}

.imgInfoWrapper img{
    width: 100%;
    height: auto;
}



.aiCard{
    flex: 1 32%;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    /* max-width: 400px; */
    background-color: var(--color-components);
    padding: 10px;
    overflow: hidden;
}
.ServicesSec .aiCard .imgInfoWrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--color-components);
    background-color: var(--color-components);
    overflow: hidden;
}