.ServicesSec .takenPhotoWrapper{
    position: relative;
    display: grid;
    place-content: center;
    margin-bottom: 10px;
    padding: 15px;
}
.webcamContainer {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: grid;
    place-content: center;
    margin-bottom: 10px;
    background-color: #0a0618;
}

.boundingBoxCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.webcam{
    width: 100%;
    height: auto;
}
.webcamErr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgba(221, 36, 36, 0.863);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: 500;
    cursor: default;
}
.webcamErr svg{
    position: relative;
    top: 1px;
}

.WebBtnContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    top: -100px;
}
.upload{
    display: none;
}
.mainWebcamBtn,
#uploadLabel,
.clearBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    border: none;
    width: 90px;
    padding-block: 5px;
    margin-right: 10px;
    font-size: 13px;
    background-color: var(--color-primary);
    color: var(--color-lightFont);
    cursor: pointer;
    transition: all .2s;
}
.mainWebcamBtn:hover,
#uploadLabel:hover,
.clearBtn:hover{
    border-radius: 5px;
    filter: brightness(110%);
    box-shadow: 0 0 10px 0 var(--color-primary) ;
}
.mainWebcamBtn:active,
#uploadLabel:active{
    filter: brightness(90%);
}

.resultImage{
    width: 100%;
    height: auto;
}