.PageContainer{
    margin: 40px 30px 0px 30px; /* 65 height of nav */
    background-color: var(--color-body);
}
.PageContainer:has(.ServicesSec){
    margin: 40px 30px 0px 30px; /* 65 height of nav */

}
@media screen and (max-width:600px) {
    .PageContainer{
        margin: 30px 10px 0px 10px;
    }
    .PageContainer:has(.ServicesSec){
        margin: 30px 10px 0px 10px; 
    }
}