/* scroll-snap-align: start;  */
/* height: calc(100vh);*/
.SectionWrapper{
    position: relative;
    margin-bottom: 50px;
    padding: 15px;
    background-color: var(--color-components);
    color: #fff;
}

@media screen and (max-width: 600px) {
    .SectionWrapper{
        padding: 10px;
    }
}



