.SectionWrapper{
    position: relative;
    scroll-snap-align: start; 
    height: calc(100vh);
    padding-top: 85px;
    padding-inline: 14px;
    color: #fff;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .SectionWrapper{
        padding-top: 30px;
        padding-bottom: 65px;
    }
}



