/*Full Screen*/
.CategoryPage .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    backdrop-filter: blur(5px);
    z-index: 99999; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.CategoryPage .fullscreen img {
    max-width: 100%;
    max-height: 100%;
}

.CategoryPage .fullscreen button {
    position: absolute;
    top: 20px;
    right: 22px;
    padding: 0px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}
/*Full Screen*/

.CategorySec .SectionWrapper{
    padding-top: 5px;
}

.CatHeaderContainer{
    position: sticky;
    top: 0;
    width: 100%; 
    z-index: 1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-components);
    color: #fff;
}
.categoryCardsHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--color-body);
}

.categoryCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    transition: all .3s;
}
.categoryCards::-webkit-scrollbar{
    width: 0px;
}

.categoryCardsHeader .HeaderTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
}


@media screen and (max-width:992px) {
    .categoryCards{
        justify-content: center;
    }
}
@media screen and (max-width:500px) {
    .CatHeaderContainer{
        padding: 10px;
    }
    .HeaderTitle{
        display: none  !important;
    }
    .categoryCardsHeader{
        padding: 10px;
    }
    .categoryCardsHeader{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
    .CatHeaderItem{
        flex: 1 25%;
    }
}
