.food-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    transition: all .3s;
}
.DetailsParent img {
    filter: brightness(80%);
}
.DetailsParent .FoodDetailsCard {
    max-width: 500px;
    width: 100%;
    background: var(--color-components);
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    z-index: 99999;
}


.DetailsParent .foodDetails{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.DetailsParent .foodDetails li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
}
.DetailsParent .foodDetails li > div{
    color: var(--color-primary);
    font-weight: 400;
    font-size: 14px;
}
.DetailsParent .DName{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    margin: 0;
    backdrop-filter: blur(15px);
    background-color: #8b92ee79;
    color: #fff;
}
.DetailsParent .DLink{
    width: 70px;
    height: 70px;
    display: grid;
    place-content: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    border-radius: 50%;
    font-size: 35px;
    color: var(--color-primary);
    background-color: #ffffffad;
    transition: all .3s ;
}
.DetailsParent .DLink span{
    position: relative;
    top: -3px;
    left: 3px;
}

.DetailsParent .DLink:hover{
    color: #fff;
    background-color: var(--color-primary);
}
.DetailsParent .detailsParaWrapper{
    border-block: 1px solid #ffffff18;
    padding-block: 10px;
    margin-block: 20px;
}
.DetailsParent .DParagraph{
    margin-bottom: 0px;
    font-size: 15px;
    color: var(--color-lightFont);
}